#station {
  height: 15.5vh;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
}

#station-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

mat-card-header {
  height: 70%;
  display: flex;
}

#add-icon {
  padding: 0.2em;
  color: #303f9f;
}

#add-icon-checked {
  padding: 0.2em;
  color: #00b248;
}

#station-content-opn {
  display: flex;
  justify-content: center;
}

#station-content-cls {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-list-of-chips {
  display: flex;
  justify-content: space-around;
}

#parking-chip {
  color: white;
  font-size: 1.2em;
}

#open-status-icon {
  color: #00b248;
}

#bike-number-icon {
  margin-left: 0.3em;
}

#closed-status-icon {
  margin-right: 0.5em;
  color: #d32f2f;
}

/* applied when no slots available */
#station-no-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#no-slots-status-icon {
  margin-right: 0.5em;
  color: #d32f2f;
}
