<div class="example-button-row">
  <button (click)="selectBikes()" mat-button matTooltip="Info about the action">
    Bikes
  </button>
  <button (click)="selectSlots()" mat-button color="primary">Parking</button>
  <button mat-button color="warn" (click)="openDialog()">Warn</button>
  <a mat-button routerLink=".">Link</a>
</div>

<mat-icon>directions_bike</mat-icon>
<mat-progress-spinner
  *ngIf="loadingStations"
  [color]="progressSpinner.color"
  [mode]="progressSpinner.mode"
  [diameter]="progressSpinner.diameter"
  [strokeWidth]="progressSpinner.strokeWidth"
>
</mat-progress-spinner>

<div *ngIf="loadingStations">LOADING</div>
<app-map
  [stations]="stations"
  (clickedStation)="clickedMarker($event)"
></app-map>

<app-station
  *ngIf="!loadingSelectedStation && selectedStation && !noSlots"
  [station]="selectedStation"
></app-station>

<app-no-slots
  *ngIf="noSlots"
  [station]="selectedStation"
  [nearbyStations]="nearbyStations"
></app-no-slots>

<!-- <app-station [station]="mock"></app-station> -->
