<div *ngIf="station">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><mat-icon>directions_bike</mat-icon></div>
      <mat-card-title
        >{{ station.streetName }} {{ station.streetNumber }}</mat-card-title
      >
      <mat-card-subtitle>Station Nº {{ station.id }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content id="station-content-opn" *ngIf="station.status === 'OPN'">
      <mat-chip-list id="content-list-of-chips">
        <mat-chip><mat-icon id="open-status-icon">done</mat-icon> </mat-chip>
        <mat-chip color="primary" selected id="parking-chip">
          <span>{{ station.slots }}</span>
          <mat-icon>local_parking</mat-icon> slots
        </mat-chip>
        <mat-chip color="warn" selected id="bikes-chip"
          >{{ station.bikes }}
          <mat-icon id="bike-number-icon">directions_bike</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>

    <mat-card-content id="station-content-cls" *ngIf="station.status === 'CLS'">
      <mat-icon id="closed-status-icon">cancel</mat-icon>
      <mat-chip-list id="content-list-of-chips">
        <mat-chip> STATION OUT OF SERVICE </mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>
