#no-slots-card {
  height: 15.5vh;
  margin-top: 0.5em;
}

#station-no-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#no-slots-status-icon {
  margin-right: 0.5em;
  color: #d32f2f;
}
