<div>
  <app-header
    (selectionChange)="setMinimumSlots($event)"
    (rideToStation)="rideToStation($event)"
    [loadingStations]="loadingStations"
  ></app-header>
  <app-map
    [stations]="stations"
    (clickedStation)="clickedMarker($event)"
    [destination]="destination"
  ></app-map>
  <app-station
    *ngIf="!loadingSelectedStation && selectedStation"
    [station]="selectedStation"
  ></app-station>
  <app-station *ngIf="!selectedStation" [station]="initialStation">
  </app-station>
</div>
