mat-icon {
  color: red;
}

mat-card {
  padding: 0px;
  padding-top: 0.2em;
  margin-bottom: 0.3em;
}

#header-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
