<div id="header">
  <mat-card>
    <div id="logo-spinner">
      <mat-progress-spinner
        *ngIf="loadingStations"
        [color]="progressSpinner.color"
        [mode]="progressSpinner.mode"
        [diameter]="progressSpinner.diameter"
        [strokeWidth]="progressSpinner.strokeWidth"
      >
      </mat-progress-spinner>
      <mat-icon>directions_bike</mat-icon>
    </div>
    <div>Select destination</div>

    <div id="header-form">
      <mat-form-field>
        <mat-select
          (selectionChange)="selectMinSlots($event)"
          [(value)]="selected"
          placeholder="minimum slots"
        >
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-stroked-button color="warn" (click)="ride()">Ride</button>
      <!--
        <mat-chip-list>
          <mat-chip (click)="ride()" color="warn" selected>Ride</mat-chip>
        </mat-chip-list>
      -->
    </div>
  </mat-card>
</div>
